
// Fixes overlapping issues
// Makes the rendered box elements padding, borders, etc.
// fit into the width

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family:  Helvetica, Arial, 'Times New Romans';
    font-size:  30px;
    font-weight: normal;
    line-height: 2rem;
}