
// Fixes overlapping issues
// Makes the rendered box elements padding, borders, etc.
// fit into the width

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
test start
*/
.text-purple{
   color:  purple;
}
.bg-grey{
    background-color:  #494954;
}
.bg-middle-dark{
    background-color:  #475256;
}
.bg-middle-secondary{
     background-color:    #636E72;
}
.file-tab{
    height: 30px;
    width: 100px;
    
}
.file-tab-lg{
    height: 30px;
    width: 130px;
    
}
.bg-light-secondary{
      background-color:    #393E42;
}
.bg-mid-grey{
     background-color:   #5C696F;
}
.type{
    height: 50px;
background-color:    #636E72
}

/*
test finish
*/
body
{
    margin: 0;
    padding: 0;
     overflow: hidden;
}
div#container
{
    margin: 0;
    padding: 0;
    width: 100%;
  
}
section#login_form{
    background-color: #3D474C;
   padding-top: 130px;
}
section#create_form {
      background-color: #3D474C;
   padding-top: 50px;
}
section#create_form div.modal-dialog{
    display: block;
    width: 650px;
}
.checkmark{
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
}
.plus{
    cursor: pointer;
    &:active{
         background-color: #eee;
    }
}

#input-head{
    height: 30px;
}

ul#input_show li ul li#drop{
    &:hover{
         background-color: #eee;
    }
    
   

}
dd#data{
    &:hover{
         background-color: #eee;
    }
    
}
a:hover{
    text-decoration:  none;
}

.b-grey{
     background-color: #eee;
}
.hover{
    &:hover{
        cursor: pointer;
    }
}
.selector:hover{
     background-color: #eee;
      cursor: pointer;
}
.page{
    &:hover{
        cursor: pointer; 
    }
    
}

.ui-resizable-helper { border: 2px dotted #00F; }
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
     background: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:   #999999 ; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  #999999; 
     border-radius: 5px;
}