
// Fixes overlapping issues
// Makes the rendered box elements padding, borders, etc.
// fit into the width

* {
    margin: 0;
    padding: 0;
    font: 16px "Times New Roman",arial, sans-serif;
    font-weight: 600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  //  overflow-x: hidden;
}

a.bg-darkblue{
    background-color: darkblue;
}
span.line{
    width: 80px;
    font-weight: 600;
    
    border-bottom: 2.5px solid darkblue;
    text-align: center;
    margin-top: 0;
}
span.colordark{
    color: darkblue;
}

.parralax{
    /* The image used */
  background-image: url("/src/images/getty.jpg");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


 #why-choose-us{
    padding-bottom: 15px;
    h6{
        color: white;
        font-size: 5rem;
        font-weight: bold;
    
    }
    p{
font-size:   1.2rem;
  }
   .row .rank p,   .row .rank span{
    font-size:   2rem;

      }
}
 
}

#myBtn {
   // display: none;
    position: fixed;
    bottom: 140px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    
   // border-radius: 100%;
  }
  
  #myBtn:hover {
    background-color: darkblue;
  }