/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

div#service{
  overflow-x: hidden;
    
    
     
    h3{
      font-size: 1.2em;
      font-weight: bold;
    }
    .col-head{
      height: 80px;
      width: 80px;
      background-color: darkblue;
      border-radius: 100%;
   
      
    }
    .service-description{
      h5{
        font-size: 1em;
        font-weight: 600;
      }
      p{
        font-size: 1em;
        font-weight: 400;
      }
    }
      
    }
    div#about{
      overflow-x: hidden;
      height: 500px;
    }
 
@media (min-width: 1281px) {
  
    //CSS
    section#content{

      div#carouselIndicators{
          img{
              height: 600px;
          }
          .carousel-caption{
          
            position: absolute;
            left: 160px;
            line-height: 3rem;
            #caption{
                position: relative;
                top: 60px;
                left: 15px;
                text-align: left;
            }
          }
      }


    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    section#content{

      div#carouselIndicators{
          img{
              height: 650px;
          }
          .carousel-caption{
          
            position: absolute;
            left: 30px;
            line-height: 3rem;
            #caption{
                position: relative;
                top: 100px;
                left: 15px;
                text-align: left;
            }
          }
      }

   
       
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
 

  
  @media (min-width: 768px) and (max-width: 1024px) {
    section#content{

      div#carouselIndicators{
          img{
              height: 600px;
          }
          .carousel-caption{
          
            position: absolute;
            left: 30px;
            line-height: 2rem;
            #caption{
                position: relative;
                top: 80px;
                left: 15px;
                text-align: left;
            }
          }
      }

       
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
 
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    section#content{

      div#carouselIndicators{
          img{
              height: 550px;
          }
          .carousel-caption{
          
            position: absolute;
            left: 30px;
            line-height: 2rem;
            #caption{
                position: relative;
                top: 60px;
                left: 15px;
                text-align: left;
                p{
                  font-size: 1em;
                }
            }
          }
          
      }
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
   section#content{

      div#carouselIndicators{
          img{
              height: 500px;
          }
          .carousel-caption{
          
            position: absolute;
            left: 30px;
            line-height: 2rem;
            #caption{
                position: relative;
                top: 40px;
                left: 15px;
                text-align: left;
               
                p{
                  font-size: 1em;
                }
            }
          }
           
      }
    }
   
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    section#content{

      div#carouselIndicators{
          img{
              height: 450px;
          }

          #caption{
            position: relative;
            top: 10px;
            left: 10px;
           
           
            p{
              font-size: 1em;
              text-align: center;
            }
        }
          
      }
   
       
    }
  }

