/*header{
    display: block;
    height: 48px;
    background-color: #3D474C;
    margin: 0;
}
header nav{
    display: block;
    height:48px;
   
}*/
#logo_icon{
    height: 10px;
    width: 10px;
}