
// Fixes overlapping issues
// Makes the rendered box elements padding, borders, etc.
// fit into the width

* {
    margin: 0;
    padding: 0;
    font: 16px "Times New Roman",arial, sans-serif;
    font-weight: 600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  //  overflow-x: hidden;
}
[v-cloak] {display: none;}
a.bg-darkblue{
    background-color: darkblue;
}
span.line{
    width: 80px;
    font-weight: 600;
    
    border-bottom: 2.5px solid darkblue;
    text-align: center;
    margin-top: 0;
}
span.colordark{
    color: darkblue;
}

.parralax{
    /* The image used */
  background-image: url("/images/togo.jpg");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


 #why-choose-us{
    padding-bottom: 15px;
    h6{
        color: white;
        font-size: 5rem;
        font-weight: bold;
    
    }
    p{
font-size:   1.2rem;
  }
   .row .rank p,   .row .rank span{
    font-size:   2rem;

      }
}
 
}
.btn.bg-darkblue{
  background-color: darkblue;
  border-radius: 0;
  color: white;
  &:hover{
    color: white;
  }
}
#myBtn {
   // display: none;
    position: fixed;
    bottom: 150px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    opacity: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
    
   // border-radius: 100%;
  }
  
  #myBtn:hover {
    background-color: darkblue;
  }
  #container{
    position: relative;
  } 



  
  /* Center the loader
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 400px;
  height: 400px;
  margin: -75px 0 0 -75px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid  darkblue;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/